<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoReservadoMapper">
	<insert parameterType="map" id="registrarReserva">
		INSERT INTO reservados (idr, fechainicioreserva, horainicioreserva, fechafinreserva, horafinreserva, recurrente, usuario, recurso)
		VALUES (
		nextval('reservados_sequence'),
		#{reservado.fechaInicioReserva},
		#{reservado.horaInicioReserva},
		#{reservado.fechaFinReserva},
		#{reservado.horaFinReserva},
		#{reservado.recurrente},
		#{reservado.usuario.carnet},
		#{reservado.recurso.id}
		)
	</insert>

<select parameterType="map" id="consultarReserva"
		resultMap="ReservadoResult">
		SELECT
		r.idr,
		r.fechafinreserva,
		r.fechainicioreserva,
		r.horainicioreserva,
		r.horafinreserva,
		r.fechadereserva,
		r.estado,
		r.recurrente,
		rc.identificador,
		rc.nombre,
		rc.horarioi,
		rc.horariof,
		rc.disponibilidad,
		tr.id,
		tr.descripcion,
		u.nombre,
		u.carrera,
		u.carnet,
		u.correo
		FROM reservados as r,recursos as rc,tipo_recurso as tr, usuarios as u
		WHERE r.recurso = rc.identificador
		AND rc.tiporecurso_id = tr.id
		AND u.carnet = r.usuario
		AND r.idR=#{idR}
	</select>

	<select parameterType="map" id="consultarReservaRecurso"
		resultMap="ReservadoResult">
		SELECT
		r.idr,
		r.fechafinreserva,
		r.fechainicioreserva,
		r.horainicioreserva,
		r.horafinreserva,
		r.fechadereserva,
		r.estado,
		r.recurrente,
		rc.identificador,
		rc.nombre,
		rc.horarioi,
		rc.horariof,
		rc.disponibilidad,
		tr.id,
		tr.descripcion,
		u.nombre,
		u.carrera,
		u.carnet,
		u.correo
		FROM reservados as r,recursos as rc,tipo_recurso as tr, usuarios as u
		WHERE r.recurso = rc.identificador
		AND rc.tiporecurso_id = tr.id
		AND u.carnet = r.usuario
		AND r.recurso=#{id}
		ORDER BY idr DESC;
	</select>

	<select parameterType="map" id="consultarReservas"
		resultMap="ReservadoResult">
		SELECT
		r.idr,
		r.fechafinreserva,
		r.fechainicioreserva,
		r.horainicioreserva,
		r.horafinreserva,
		r.fechadereserva,
		r.estado,
		r.recurrente,
		rc.identificador,
		rc.nombre,
		rc.horarioi,
		rc.horariof,
		rc.disponibilidad,
		tr.id,
		tr.descripcion,
		u.nombre,
		u.carrera,
		u.carnet,
		u.correo
		FROM reservados as r,recursos as rc,tipo_recurso as tr, usuarios as u
		WHERE r.recurso = rc.identificador
		AND rc.tiporecurso_id = tr.id
		AND u.carnet = r.usuario;
	</select>

	<select parameterType="map" id="consultarReservasDeUnUsuario"
		resultMap="ReservadoResult">
		SELECT
		*
		FROM reservados AS r
		WHERE r.usuario =
		#{usuario.carnet}
	</select>

	<update parameterType="map" id="actualizarEstadoReserva">
    	UPDATE RESERVADOS SET estado = #{estado}
    	WHERE idr = #{id}
    </update>

    <select parameterType="map" id="consultarRecursosMasUsados"
		resultMap="ReservadoResult">
		select 
		nombre, 
		count(*) as Frecuencia 
		from reservados, recursos 
		where recurso = identificador 
		group by nombre 
		order by Frecuencia desc;		
	</select>

	<select parameterType="map" id="consultarRecursosMenosUsados"
		resultMap="ReservadoResult">
		select 
		nombre, 
		count(*) as Frecuencia 
		from reservados, recursos 
		where recurso = identificador 
		group by nombre 
		order by Frecuencia;		
	</select>

	<select parameterType="map" id="consultarHorariosDeMayorOcupacion"
		resultMap="ReservadoResult">
		select 
		horainicioreserva, 
		count(*) Fecha 
		from reservados 
		group by horainicioreserva 
		order by Fecha desc;	
	</select>

	<select parameterType="map" id="consultarHorariosDeMenorOcupacion"
		resultMap="ReservadoResult">
		select 
		horainicioreserva, 
		count(*) Fecha 
		from reservados 
		group by horainicioreserva 
		order by Fecha;	
	</select>

	<select parameterType="map" id="consultarReservasRecurrentes"
		resultMap="ReservadoResult">
		select 
		* 
		from reservados 
		where recurrente = 'Si';
	</select>

	<select parameterType="map" id="consultarReservasCanceladas"
		resultMap="ReservadoResult">
		select 
		* 
		from 
		reservados where estado = 'Cancelado';
	</select>


	<resultMap type='RecursoReservado' id='ReservadoResult'>
		<id property='id' column='idr' />
		<result property='fechaInicioReserva'
			column='fechainicioreserva' />
		<result property='horaInicioReserva' column='horainicioreserva' />
		<result property='fechaFinReserva' column='fechafinreserva' />
		<result property='horaFinReserva' column='horafinreserva' />
		<result property='estado' column='estado' />
		<result property='recurrente' column='recurrente' />
		<result property='fechadereserva' column='fechadereserva' />
		<association property="recurso" javaType="Recurso"
			resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoMapper.RecursoResult'></association>
		<association property="usuario" javaType="Usuario"
			resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult'></association>
	</resultMap>

</mapper>