<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoMapper">


	<insert parameterType="map" id="insertarRecurso" >
			INSERT INTO RECURSOS
			VALUES (
			#{recurso.id},
			#{recurso.nombre},
			#{recurso.ubicacion},
			#{recurso.capacidad},
			#{recurso.horario},
			#{recurso.disponibilidad},
			#{recurso.tipo.id}
			)
	</insert>

	<select parameterType="map" id="consultarRecurso" resultMap="RecursoResult" >
        SELECT    
        r.identificador,
        r.nombre,
        r.ubicacion,
        r.capacidad,
        r.horario_disponibilidad,
        r.diponibilidad,
        r.tiporecurso_id
        FROM RECURSOS AS r 
        WHERE r.identificador=#{id}
    </select>

    
    <select parameterType="map" id="consultarRecursos" resultMap="RecursoResult" >
    	SELECT    
        r.identificador,
        r.nombre,
        r.ubicacion,
        r.capacidad,
        r.horario_disponibilidad,
        r.diponibilidad,
        r.tiporecurso_id
        FROM RECURSOS AS r
    </select>

	<resultMap type='Recurso' id='RecursoResult'>
	    <id property='id' column='identificador'/>
	    <result property='nombre' column='nombre'/>
	    <result property='ubicacion' column='ubicacion'/>
	    <result property='capacidad' column='capacidad'/>
	    <result property='horario' column='horario_disponibilidad'/>  
	    <result property='disponibilidad' column='disponibilidad'/>  
	    <association property="tipo" javaType="TipoRecurso" columnPrefix='tipoRecurso_' resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoRecursoMapper.TipoRecursoResult'></association> 
	</resultMap>
</mapper> 