<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoReservadoMapper">
    <insert parameterType="map" id="insertarReservado">
            INSERT INTO reservados 
            VALUES (
            #{reservado.id},
            #{reservado.fechaInicioReserva},
            #{reservado.horaInicioReserva},
            #{reservado.fechaFinReserva},
            #{reservado.horaFinReserva},
            #{reservado.usuario.carnet},
            #{reservado.recurso.id}
            )
    </insert>

    <select parameterType="map" id="consultarReserva" resultMap="ReservadoResult" >
        SELECT    
		*
   		FROM reservados AS r
        WHERE r.id=#{id}
    </select>

    
    <select parameterType="map" id="consultarReservas" resultMap="ReservadoResult" >
    	SELECT    
       	*
        FROM reservados AS r 
    </select>

    <select parameterType="map" id="consultarReservasDeUnUsuario" resultMap="ReservadoResult" >
        SELECT    
        *
        FROM reservados AS r 
        WHERE r.usuario = #{usuario.carnet}
    </select>
    
    <resultMap type='RecursoReservado' id='ReservadoResult' >
        <id property='id' column='id'/>
        <result property='fechaInicioReserva' column='fechainicioreserva'/>
        <result property='horaInicioReserva' column='horainicioreserva'/>
        <result property='fechaFinReserva' column='fechafinreserva'/>
        <result property='horaFinReserva' column='horainicioreserva'/>
        <association property="recurso" javaType="Recurso" resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoMapper.RecursoResult'></association>
        <association property="usuario" javaType="Usuario" resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.UsuarioMapper.UsuarioResult'></association>
    </resultMap>
         
</mapper>