<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.TipoItemMapper">

<select parameterType="map" id="getTipoItem" resultMap="TipoItemResult" >
	select
	id,
	descripcion
	FROM VI_TIPOITEM
	WHERE id=#{tipoitemid}
</select>

<insert parameterType="map" id="insertarTipoItem" >
	INSERT INTO VI_TIPOITEM
	VALUES(#{ti.id},#{ti.descripcion});
</insert>

<resultMap type='TipoItem' id='TipoItemResult'>
    <id property='id' column='id'/>
    <result property='descripcion' column='descripcion'/>  
</resultMap>            
</mapper>