<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.cvds.sampleprj.dao.mybatis.mappers.UsuarioMapper">
    <insert id="insertarUsuario" parameterType="map">
            INSERT INTO USUARIOS 
            VALUES (
            #{usuario.carnet}, 
            #{usuario.nombre},
            #{usuario.apellido},
            #{usuario.carrera},
            #{usuario.correo},
            #{usuario.rol},
            #{usuario.contrasena}
            )
    </insert>

    <select parameterType="map" id="consultarUsuario" resultMap="UsuarioResult" >
        SELECT    
        u.nombre,
        u.apellido,
        u.carnet,
        u.carrera,
        u.correo,
        u.rol
        FROM USUARIOS AS u 
        WHERE u.carnet=#{id}
    </select>

    <select parameterType="map" id="consultarUsuarioPorCorreo" resultMap="UsuarioResult" >
        SELECT    
        u.nombre,
        u.apellido,
        u.carnet,
        u.carrera,
        u.correo,
        u.rol
        FROM USUARIOS AS u 
        WHERE u.correo=#{correo}
    </select>

    
    <select parameterType="map" id="consultarUsuarios" resultMap="UsuarioResult" >
    	SELECT    
        u.nombre,
        u.apellido,
        u.carnet,
        u.carrera,
        u.correo,
        u.rol
        FROM USUARIOS AS u 
    </select>
    
    <resultMap type='Usuario' id='UsuarioResult' >
        <id property='carnet' column='carnet'/>
        <result property='nombre' column='nombre'/>
        <result property='apellido' column='apellido'/>
        <result property='carrera' column='carrera'/>
        <result property='correo' column='correo'/>  
        <result property='rol' column='rol'/> 
        <collection property='reservados' ofType='RecursoReservado' resultMap='edu.eci.cvds.sampleprj.dao.mybatis.mappers.RecursoReservadoMapper.ReservadoResult'>
        </collection>
    </resultMap>
         
</mapper>