<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

   <typeAliases>
       <typeAlias type='edu.eci.cvds.samples.entities.Cliente' alias='Cliente'/>
       <typeAlias type='edu.eci.cvds.samples.entities.Item' alias='Item'/>
       <typeAlias type='edu.eci.cvds.samples.entities.ItemRentado' alias='ItemRentado'/>
       <typeAlias type='edu.eci.cvds.samples.entities.TipoItem' alias='TipoItem'/>
   </typeAliases>

   <environments default="test">
       <environment id="test">
           <transactionManager type="JDBC" />
           <dataSource type="POOLED">
               <property name="driver" value="com.mysql.jdbc.Driver" />
               <property name="url" value="postgres://iwwkuojbaoqwrw:df11b9bf00cf66130fc0f5c3b9b0f1c7196cdfaef488270da6446830145c41fe@ec2-17" />
               <property name="username" value="iwwkuojbaoqwrw" />
               <property name="password" value="df11b9bf00cf66130fc0f5c3b9b0f1c7196cdfaef488270da6446830145c41fe" />
           </dataSource>
       </environment>
   </environments>
   <mappers>
       <mapper resource="mappers/UsuarioMapper.xml"></mapper>
       <mapper resource="mappers/RecursoMapper.xml"></mapper>
       <mapper resource="mappers/TipoRecursoMapper.xml"></mapper>
   </mappers> 

</configuration>